@media all and (max-width: 1420px){
	.header__location{
		display: none;
	}
	.header__logo{
		left: 0;
		transform: translate(0);
		position: relative;
	}
	.header{
		padding: 15px 0;
	}
	.header__phone{
		padding-right: 0;
	}
	.title-main{
		left: calc(50% - 170px);
	}
}
@media all and (max-width: 1210px){
	.header__nav{
		grid-gap: 15px;
	}
	.title{
		font-size: 30px;
		line-height: normal;
	}
	.time__title{
		font-size: 20px;
		line-height: normal;
	}
	.faq-img img{
		max-width: 100%;
	}
	.faq-content{
		width: 60%;
	}
	.faq-img{
		width: calc(40% - 30px);
	}
	.advantages{
		grid-template-columns: 300px 1fr;
		grid-gap: 50px;
	}
	.advantages-box{
		grid-gap: 60px 50px;
	}
	.advantages-description__text,
	.news-slider__title{
		font-size: 16px;
		line-height: normal;
	}
	.articles-item,
	.excurs-row__item{
		display: flex;
		flex-direction: column;
	}
	.articles-item__img,
	.excurs-row__img{
		padding-bottom: 50%;
	}
	.articles-item__content,
	.excurs-row__content{
		border-radius: 0px  0px  20px 20px;
		border: 1px solid #E6E8ED;
		border-top: 0;
	}
	.footer-center{
		max-width: 450px;
	}
	.list-box{
		grid-template-columns: 1fr;
		grid-gap: 30px;
	}
	.tcard-gallery{
		grid-template-columns: 1fr 300px;
	}
	.tcard-gallery__item,
	.tcard-gallery,
	.tcard-gallery__small{
		grid-gap: 20px;
	}
	.boat-cat__item span{
		font-size: 20px;
	}
	.boat-cat__item svg{
		width: 50px;
	}
	.boat__title{
		padding: 30px 0 20px;
	}
	.boat-box__content{
		padding: 20px;
	}
	.events-item__title{
		font-size: 14px;
	}
	.hero._main{
		height: 325px;
	}
	.hero-wave:before,
	.hero-wave:after{
		height: 46px;
	}
	.hero-wave:before{
		bottom: 30px;
	}
	.hero-img{
		height: calc(100% - 46px);
	}
	.sun{
		width: 122px;
		height: 122px;
	}
	.birds-main{
		width: 143px;
		height: 98px;
	}
	.sobor-main{
		width: 89px;
		height: 217px;
		bottom: 46px;
		right: 145px;
	}
	.ship-main{
		width: 200px;
		height: 168px;
		bottom: 39px;
	}
	.bridge-main{
		width: 345px;
		height: 121px;
		bottom: 46px;
	}
	.bird-main{
		width: 61px;
		height: 52px;
		top: 65px;
	}
	.title-main{
		width: 261px;
		height: 99px;
		left: 40px;
		top: 40px;
		transform: unset;
	}
	.article-grid{
		grid-template-columns: 750px 1fr;
	}
	.sale-item__content{
		padding: 20px;
	}
	.sale{
		grid-gap: 20px;
	}
	.sale-item {
	    width: calc(100% / 3 - 40px / 3 );
	}
	.four-desc{
		font-size: 20px;
	}
}
@media all and (max-width: 992px){
	.events-box{
		grid-template-columns: repeat(3, 1fr);
	}
	.boat-box{
		grid-template-columns: repeat(2, 1fr);
	}
	.header__phone span{
		display: none;
	}
	.header__phone{
		position: relative;
		padding: 0;
	}
	.header__phone:before{
		content: '';
		display: block;
		width: 40px;
		height: 40px;
		background: url(../img/phone-mob.svg) no-repeat center;
		transition: all 0.3s;
	}
	.header__phone:active:before{
		transform: scale(1.1);
	}
	.header__nav{
		display: none;
	}
	.header__logo{
		width: 46px;
		height: 44px;
		background-size: contain;
	}
	.mob-m{
		display: block;
		width: 40px;
		height: 40px;
		background: url(../img/mob-menu.svg) no-repeat center;
		cursor: pointer;
	}
	.over_bg {
		z-index: 998;
		position: fixed;
		bottom: 0;
		background: #000000d4;
		right: 0;
		top: 0;
		display: block;
		left: 0;
	}
	.header{
		padding: 10px 0;
	}
	.search{
		grid-template-columns: 1fr;
		padding: 20px 20px 25px;
		max-width: 380px;
		margin: 0 auto;
	}
	.search-box{
		grid-template-columns: 1fr;
		grid-gap: 10px;
		order: 1;
	}
	.search__btn{
		text-indent: 0;
		max-width: 200px;
		width: 100%;
		border-radius: 96px;
		background: #023ED4;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.search__btn:before{
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		background: url(../img/search.svg) no-repeat center;
		margin-right: 15px;
	}
	.search-submit{
		display: flex;
		align-items: center;
		justify-content: center;
		order: 3;
	}
	.search__more{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		order: 2;
		padding: 0;
	}
	.search__more:before{
		position: relative;
	}
	.search__more.active:before{
		top: 0;
		margin-right: 5px;
	}
	.select-selected{
		border-radius: 6px;
	}
	.time__title{
		font-size: 18px;
		line-height: 24px;
		max-width: 176px;
		margin: 0 auto;
		padding: 30px 0 25px;
	}
	.search-wrap{
		margin: 0;
		padding: 30px 0 0;
	}
	.title{
		font-size: 24px;
		line-height: 36px;
	}
	.nav{
		display: none;
	}
	.what-slider{
		padding: 30px 0 0;
	}
	.what-wrap{
		padding: 50px 0 50px;
	}
	.what-slider__item{
		padding-top: 76.1%;
	}
	.excurs-sort{
		display: none;
	}
	.same{
		grid-gap: 10px;
	}
	.same a,
	.excurs-cat__item{
		font-size: 12px;
		line-height: 16px;
		padding: 6px 13px;
		white-space: nowrap;
	}
	.excurs-cat{
		grid-gap: 10px;
		flex-wrap: nowrap;
		overflow: hidden;
		overflow-x: auto;
	}
	.excurs-box{
		margin: 20px 0 0;
	}
	.excurs-top{
		padding: 30px 0 50px;
	}
	.excurs-row{
		padding: 0 0 30px;
	}
	.what-slider{
		max-width: 184px;
		width: 100%;
	}
	.what-slider__desc{
		display: none;
	}
	.another-item__title,
	.what-slider__title{
		font-size: 12px;
		line-height: 18px;
	}
	.another-item__content,
	.what-slider__content{
		min-height: 41px;
		padding: 12px 15px 11px;
		background-size: 184px;
	}
	.another-item__content{
		padding: 20px 15px 20px;
		z-index: 3;
	}
	.another-item img{
		height: 100%;
	}
	.another-item{
		padding-bottom: 76.1%;
		outline: none;
	}
	.excurs-row__content{
		padding: 20px 20px 25px;
	}
	.sale-item__title,
	.articles-item__title,
	.excurs-row__title{
		font-size: 14px;
		line-height: 24px;
	}
	.excurs-row__desc{
		padding: 0 0 25px;
	}
	.mstock-slider{
		max-width: 252px;
	}
	.same-article__right,
	.mstock-right{
		justify-content: flex-end;
	}
	.mstock-top{
		grid-template-columns: 1fr 100px;
		padding: 0 0 30px;
	}
	.mstock-wrap{
		padding: 50px 0;
	}
	.sale-item__date,
	.sale-item__desc,
	.articles-item__desc,
	.mstock-all{
		font-size: 12px;
		line-height: 16px;
	}
	.another-slider__desc,
	.mstock-slider__desc{
		display: none;
	}
	.another-slider__title,
	.mstock-slider__title{
		font-size: 14px;
		line-height: 24px;
	}
	.another-slider__content,
	.mstock-slider__content{
		padding: 20px;
	}
	.rev-wrap{
		padding: 50px 0;
		overflow: hidden;
	}
	.rev__title{
		padding-bottom: 20px;
	}
	.articles-item__date{
		font-size: 11px;
	}
	.rev__sub{
		font-size: 16px;
		line-height: 24px;
		padding: 20px 0 0;
	}
	.rev-box{
		display: none;
	}
	.rev-slider{
		display: block;
		max-width: 252px;
		width: 100%;
		padding: 30px 0;
	}
	.rev-item{
		width: 100%;
		padding: 20px;
	}
	.rev__swiper{
		overflow: unset;
	}
	.revex-author__icon, .rev-author__icon{
		width: 42px;
		height: 42px;
	}
	.rev-author__title{
		font-size: 12px;
		line-height: 18px;
	}
	.revex-author, .rev-author{
		grid-template-columns: 42px 1fr;
		grid-gap: 15px;
	}
	.rev-item__desc{
		font-size: 10px;
		line-height: 18px;
	}
	.advantages-wrap{
		padding: 50px 0;
	}
	.advantages{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		grid-gap: 40px;
		text-align: center;
		padding: 0 0 79px;
	}
	.advantages-description:before{
		display: none;
	}
	.advantages:before{
		height: 81px;
		background: url(../img/adv-bg-mob.svg) repeat-x center;
		right: unset;
		left: -50%;
		width: 200%;
		transform: unset;
	}
	.advantages__title:before{
		width: 60px;
		left: 50%;
		transform: translateX(-50%);
	}
	.advantages__title{
		padding-bottom: 25px;
	}
	.advantages-description__text{
		font-size: 14px;
		line-height: 24px;
		padding: 20px 0 0;
		max-width: 269px;
		margin: 0 auto;
	}
	.advantages-item__icon{
		height: 60px;
	}
	.advantages-item__icon img{
		max-height: 60px;
	}
	.advantages-item{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.advantages-item__title{
		padding: 30px 0 15px;
		font-size: 14px;
		line-height: 19px;
	}
	.advantages-item__desc{
		font-size: 12px;
		line-height: 18px;
	}
	.advantages-box{
		grid-gap: 40px;
		padding: 0 0 50px;
	}
	.top{
		grid-template-columns: 1fr 150px;
		padding: 0 0 30px;
	}
	.top-navigation{
		justify-content: flex-end;
	}
	.another-sale-slider,
	.same-slider,
	.contents-slider,
	.another-slider,
	.actual-slider,
	.interest-slider,
	.related-slider,
	.revex-slider,
	.photo-mob,
	.video-slider,
	.news-slider,
	.partner-slider{
		max-width: 252px;
		width: 100%;
	}
	.another__swiper,
	.actual__swiper,
	.interest__swiper,
	.related__swiper,
	.revex__swiper,
	.photo__swiper,
	.video__swiper,
	.news__swiper,
	.partner__swiper{
		overflow: unset;
	}
	.another-wrap,
	.interest-wrap,
	.related-wrap,
	.revex-wrap,
	.photo-wrap,
	.video-wrap,
	.news-wrap{
		overflow: hidden;
	}
	.actual-wrap:after{
		display: none;
	}
	.actual-wrap{
		border: none;
	}
	.partner-wrap{
		overflow: hidden;
		padding: 0 0 50px;
	}
	.partner-slider__icon{
		height: 48px;
	}
	.partner-slider__icon img{
		max-height: 100%;
	}
	.partner-slider__item{
		padding: 20px;
	}
	.partner-slider__title{
		font-size: 14px;
		line-height: normal;
	}
	.partner-slider__desc{
		line-height: 18px;
		padding: 15px 0 0;
	}
	.partner-slider__hover{
		transform: unset;
		height: 70px;
		background-size: 252px;
		display: none;
	}
	.partner-slider__link{
		padding: 10px 60px;
		background: #023ed4;
		z-index: 2;
	}
	.top-navigation__btn{
		font-size: 12px;
		line-height: 16px;
	}
	.actual-item__img,
	.related-slider__img,
	.news-slider__icon{
		height: 120px;
	}
	.news-slider__content{
		padding: 15px 20px 20px;
	}
	.advantages-description__text, .news-slider__title{
		font-size: 14px;
		line-height: 18px;
	}
	.photo-mob{
		display: block;
	}
	.photo-slider{
		display: none;
	}
	.photo-item{
		width: 100%!important;
		padding-bottom: 100.2%;
	}
	.video-wrap,
	.photo-wrap,
	.news-wrap{
		padding: 0 0 50px;
	}
	.video-slider__title,
	.photo-item__title{
		padding: 20px;
	}
	.video-slider__item{
		padding-bottom: 100.2%;
	}
	.faq{
		padding: 50px 0;
	}
	.faq__title{
		text-align: center;
	}
	.faq{
		flex-direction: column;
	}
	.faq-img{
		width: 100%;
		display: none;
	}
	.faq-img img{
		max-width: 212px;
		width: 100%;
		position: relative;
		transform: unset;
		top: 0;
		margin: 0 auto;
	}
	.faq-item__title{
		line-height: 19px;
		padding: 20px 0;
		padding-right: 40px;
	}
	.faq-item__title:before{
		width: 18px;
	}
	.faq-item__title:after{
		height: 18px;
		right: 9px;
	}
	.faq-content{
		max-width: 768px;
		width: 100%;
		margin: 0 auto;
	}
	.faq-box{
		padding: 0;
	}
	.faq-img._mob{
		display: block;
		padding: 30px 0;
	}
	.footer-center__item:first-child{
		display: none;
	}
	.footer{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.footer__logo{
		width: 83px;
		height: 80px;
		margin: 0 auto;
	}
	.footer-left{
		max-width: 100%;
		order: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.footer-center{
		order: 1;
		max-width: 100%;
		align-items: center;
		justify-content: center;
	}
	.footer-right{
		order: 2;
		display: flex;
		flex-direction: column;
		max-width: 100%;
		align-items: center;
		justify-content: center;
	}
	.footer-left .footer__logo{
		display: none;
	}
	.footer-left__link a{
		color: #023ED4;
		text-decoration: underline;
	}
	footer{
		padding: 40px 0 50px;
	}
	.footer-center__item .footer__title{
		display: none;
	}
	.footer-contact, .footer-nav{
		align-items: center;
		grid-gap: 18px;
	}
	.footer-contact__item a.footer__phone{
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
	}
	.footer-contact__line{
		display: block;
		background: url(../img/line-footer.svg) no-repeat center;
		height: 5px;
		width: 100%;
	}
	.footer-partner-wrap{
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		order: 2;
	}
	.footer-partner__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		grid-gap: 15px;
	}
	.footer-partner{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		grid-gap: 10px;
	}
	.footer-pay-wrap{
		text-align: center;
		order: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.footer-pay{
		padding: 0;
	}
	.footer-social{
		order: 1;
		padding: 30px 0 40px;
	}
	.footer-social a svg{
		width: 30px;
		height: 30px;
	}
	.footer__logo._mob{
		display: block;
		margin-bottom: 30px;
	}
	.another-slider__item,
	.contents-slider__item,
	.mstock-slider__item{
		padding-bottom: 63.4%;
	}
	.toptag__title{
		padding: 30px 0 25px;
	}
	.toptag__desc{
		padding: 30px 0 0;
		font-size: 14px;
		line-height: 25px;
	}
	.toptag-wrap{
		padding: 30px 0 0px;
	}
	.excurs-tag-wrap{
		padding: 50px 0 0;
	}
	.bridge-wrap{
		padding: 50px 0;
	}
	.bridge__title{
		padding: 0 0 25px;
	}
	.bridge-box{
		padding: 30px 0 0;
	}
	.advantages__title:before,
	.bridge__title:after, .toptag__title:after, .rev__title:after{
		width: 60px;
		background-size: 60px;
	}
	.hero-bread{
		position: relative;
		padding: 30px 0 20px;
		top: 0;
	}
	.hero._white{
		padding: 0;
	}
	.tcard-wrap{
		padding: 30px 0 30px;
	}
	.tcard-gallery{
		grid-template-columns: 60% 1fr;
	}
	.tcard-gallery__item, .tcard-gallery, .tcard-gallery__small{
		grid-gap: 10px;
	}
	.tcard__rate:before{
		width: 24px;
		height: 24px;
	}
	.tcard__rate span{
		font-size: 14px;
	}
	.tcard-top{
		padding: 20px 0 20px;
	}
	.tcard-gallery a{
		border-radius: 10px;
	}
	.tcard-gallery__item:nth-child(2) a:nth-child(2), .tcard-gallery__item a:nth-child(1){
		height: 60%;
	}
	.tcard-gallery__item:nth-child(2) a:nth-child(1), .tcard-gallery__item a:nth-child(2){
		height: calc(40% - 10px);
	}
	.tcard-gallery__big {
	    padding-bottom: 100%;
	}
	.scroll{
		display: block;
	}
	.scroll-sidebar{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 9;
		background: #ebf5f1;
		box-shadow: 0px 5px 20px rgb(0 0 0 / 7%);
	}
	.side{
		border-radius: 0;
		padding: 15px 20px;
		max-width: 400px;
		margin: 0 auto;
		background: none;
		box-shadow: none;
	}
	.side-item{
		min-height: unset;
	}
	.side-box{
		grid-gap: 5px;
		padding: 10px 0 0;
	}
	.side-price__actual{
		font-size: 16px;
		line-height: normal;
	}
	.side-price__old{
		font-size: 10px;
		padding: 0;
	}
	.side-item__title{
		font-size: 12px;
	}
	.side-btn{
		margin: 5px 0 5px;
	}
	.side-bottom{
		font-size: 10px;
	}
	.content-title{
		font-size: 18px;
		line-height: normal;
	}
	.revex-slider__item{
		padding: 20px;
	}
	.revex-author__title{
		font-size: 12px;
	}
	.revex-author__date{
		font-size: 10px;
		padding: 2px 0 0;
	}
	.revex-slider__top{
		grid-template-columns: 1fr;
		grid-gap: 5px;
	}
	.revex-author__rate{
		max-width: 100px;
	}
	.revex-slider__desc{
		font-size: 10px;
    	line-height: 18px;
    	padding: 10px 0 0;
	}
	.actual-item,
	.related-slider__item{
		grid-template-columns: 1fr;
	}
	.actual-item__content,
	.related-slider__content{
		padding: 15px 20px 20px;
		border-radius: 0px 0px 20px 20px;
	    border: 1px solid #E6E8ED;
	    border-top: 0;
	}
	.actual-item__title,
	.related-slider__title{
		font-size: 14px;
		line-height: 22px;
	}
	.related-wrap{
		padding: 50px 0;
	}
	.content-desc__text,
	.related-slider{
		padding: 30px 0 0;
	}
	.interest-slider__link{
		margin: 20px 0 0;
		padding-bottom: 60%;
	}
	.interest-slider__pos{
		font-size: 12px;
		padding-left: 20px;
	}
	.scroll-content .side{
		display: block;
		padding: 0 0 30px;
		margin: 0;
	}
	.scroll-sidebar .side-box,
	.scroll-sidebar .side__title{
		display: none;
	}
	.interest{
		overflow: unset;
	}
	.scroll-wrap{
		overflow: hidden;
	}
	.events-wrap{
		padding: 50px 0 0;
	}
	.scroll-sidebar__wrap{
		padding: 0;
	}
	.side-row{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		grid-gap: 5px;
		padding: 0 0 0;
	}
	.side-row .side-btn{
		padding: 14px 5px;
	}
	.side-row .side-btn,
	.rent-btn{
		font-size: 12px;
	}
	.price-alone{
		padding: 10px 0 10px;
	}
	.scroll-sidebar .price-alone{
		display: none;
	}
	.scroll-content .side-bottom,
	.scroll-content .side-row{
		display: none;
	}
	.bridge-main{
		transform: translateX(-22%);
	}
	.articles-item__title{
		padding: 10px 0 20px;
	}
	.articles-item__content{
		padding: 20px;
	}
	.articles-item__title::after{
		background-size: 40px;
	}
	.articles-wrap{
		padding: 30px 0 50px;
	}
	.articles-title{
		padding: 20px 0 20px;
	}
	.sale-btn,
	.articles-btn{
		margin: 30px auto 0;
	}
	.article-grid{
		grid-template-columns: 1fr;
	}
	.contents{
		padding: 30px 0;
	}
	.contents__title{
		font-size: 20px;
	}
	.contents__list{
		padding: 20px 0 0 30px;
    	grid-gap: 15px;
	}
	.contents__list a{
		padding: 0 0 0 10px;
	}
	.contents-desc figure,
	.contents-slider{
		padding: 10px 0 30px;
	}
	.contents-desc{
		padding: 0 0 50px;
	}
	.same-slider__title{
		font-size: 12px;
    	line-height: 18px;
    	padding: 10px 20px;
    	min-height: 60px;
	}
	.article-author__item{
		padding: 50px 0 0;
	}
	.sale-wrap{
		padding: 30px 0 0;
	}
	.sale{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	}
	.sale-item:nth-child(2),
	.sale-item{
		width: fit-content;
		width: -moz-fit-content;
	}
	.sale-item__img{
		height: 220px;
	}
	.sale-item__content{
		height: calc(100% - 220px);
	}
	.article-grid._sale{
		display: flex;
		flex-direction: column-reverse;
	}
	.sale-info{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.sale-info__content{
		display: flex;
		justify-content: center;
		grid-gap: 10px;
		align-items: flex-end;
		padding: 20px 0;
	}
	.sale-info__month{
		line-height: 22px;
	}
	.sale-info .share-btn>span{
		margin: 0;
	}
	.sale-info .share-popup{
		left: unset;
		right: 0;
		transform: unset;
	}
	.sale-info .share-btn:hover .share-popup{
		transform: translate(0, 0);
	}
	.sale-info .share-popup:before{
		left: calc(100% - 20px);
	}
	.sales-desc{
		padding: 30px 0 50px;
	}
	.four-desc {
	    font-size: 17px;
	}
}
@media all and (max-width: 768px){
	.detail-box{
		grid-template-columns: 1fr;
	}
	.tcard-gallery a {
	    border-radius: 5px;
	}
	.tcard-gallery__more{
		font-size: 25px;
	}
	.tcard-gallery__more span:last-child{
		font-size: 12px;
	}
	.tcard-gallery__big {
	    padding-bottom: 50%;
	}
	.tcard-gallery__small a{
		padding-bottom: 50%;
	}
	.tcard-gallery{
		grid-template-columns: 1fr;
	}
	.tcard-gallery__item, .tcard-gallery, .tcard-gallery__small{
		grid-gap: 5px;
	}
	.bridge-box{
		grid-template-columns: 1fr;
		grid-gap: 30px;
	}
	.excurs-row__img{
		padding: 0;
		height: 200px;
	}
	.articles,
	.boat-box,
	.excurs-row{
		grid-template-columns: 1fr;
		grid-gap: 20px;
		max-width: 380px;
		margin: 0 auto;
	}
	.advantages-box{
		grid-template-columns: 1fr;
	}
	.boat-box__title{
		font-size: 14px;
    	line-height: 24px;
	}
	.boat-box__desc{
		font-size: 12px;
	}
	.events-box{
		grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
		padding: 30px 0 30px;
		grid-gap: 10px;
	}
	.boat-cat__item span{
		font-size: 16px;
	}
	.boat-cat__item svg{
		width: 40px;
	}
	.boat-cat__item{
		grid-gap: 10px;
		padding: 10px 0;
	}
	.boat-cat{
		grid-gap: 30px;
	}
	.boat-wrap,
	.boat-tab{
		padding: 30px 0 0;
	}
	.events-item{
		height: 130px;
		padding: 20px;
	}
	.events-info a, .events-info{
		text-align: center;
		font-size: 12px;
	}
	.boat-box{
		padding: 0 0 30px;
	}
	.boat__title {
	    padding: 20px 0 20px;
	}
	.swiper-slide{
		outline: none;
	}
	.another-item:hover .another-item__content, .what-slider__item:hover .what-slider__content{
		animation: unset;
	}
	.another-slider__item,
	.sale-item,
	.contents-slider__item,
	.same-slider__item,
	.articles-item,
	.video-slider__item,
	.photo-item,
	.news-slider__item,
	.partner-slider__item,
	.rev-item,
	.what-slider__item,
	.actual-item, .related-slider__item,
	.mstock-slider__item,
	.another-item{
		-webkit-mask-image: -webkit-radial-gradient(white, black);
	}
	.another-item:hover img{
		filter: unset;
	}
	.bridge-main{
		width: 243px;
		height: 86px;
	}
	.ship-main{
		width: 153px;
		height: 128px;
	}
	.sobor-main{
		width: 65px;
		height: 159px;
		right: 23px;
		z-index: 1;
	}
	.sun{
		width: 77px;
		height: 77px;
		right: 50px;
		top: 124px;
		z-index: 0;
	}
	.title-main{
		width: 204px;
		height: 77px;
		left: 50%;
		transform: translateX(-50%);
		top: 23px;
	}
	.bird-main{
		width: 45px;
		height: 39px;
		top: 59px;
		left: 77px;
	}
	.birds-main{
		width: 96px;
		height: 66px;
	}
	.birds-main{
		top: 113px;
	}
	.another-slider__item:hover img,
	.sale-item:hover img,
	.same-slider__item:hover img,
	.contents-slider__item:hover img,
	.articles-item:hover img,
	.another-item:hover img, .boat-box__item:hover img, .mstock-slider__item:hover img, .photo-item:hover img, .actual-item:hover .actual-item__img img, .related-slider__item:hover .related-slider__img img, .interest-slider__link:hover img, .tcard-gallery a:hover{
		filter: unset;
	}
	.sale-info__month,
	.sale-info__title{
		font-size: 12px;
	}
	.sale-info__number{
		font-size: 25px;
	}
	.sale-info__content{
		padding: 0;
	}
	.sale-info{
		padding: 10px 0 20px;
		align-items: flex-end;
	}
	.sales-desc ul li{
		padding-left: 30px;
	}
	.top{
		grid-template-columns: 1fr 110px;
	}
	._error:before{
		background-size: 250%;
		animation: unset;
		background-position-x: 77%;
	}
}